.main-section-about-us {
    background: -moz-linear-gradient(left, #2bbfe4 0%, #eaecc6 100%);
    background: -webkit-linear-gradient(#2bbfe4 0%,#eaecc6 100%);
    background: linear-gradient(#2bbfe4 0%,#eaecc6 100%);
    padding: 5vw 5vw 10vw 5vw;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    &-h2{
        color: rgb(232, 235, 25);
        
    }
    &-p{
        padding: 0px 20px;
        text-align: justify;
    }
    &-div-img {
        display: flex;
        align-items: center;
        padding: 5vw;
        & img{
            width: 70vw;
        }
    }
}

@media (min-width: 1200px) {
    .main-section-about-us {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        & img{
            width: 40vw;
        }
        &-h2{
            padding-top: 0px;
        }
    }
    
}