.main-section-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vw;
    position: relative;
    z-index: 1;
    background-color: rgb(52, 253, 106);
    &-h2{
        color: orange;
    }
    &-slider{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 4vh;
        &-viewer{
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 3vw;
            &-move-left{
                position: absolute;
                z-index: 25;
                width: 40px;
                height: 40px;
                background-color: rgba(0, 0, 0, 0.5);
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    cursor: pointer;
                    .main-section-gallery-slider-viewer-move-left-svg{
                        fill: black;
                    }
                }
                &-svg{
                    transform: rotate(90deg);
                    fill: rgb(255, 255, 255);
                }
            }
            &-slides{
                position: relative;
                display: flex;
                width: 80vw;
                height: 80vw;
                align-items: center;
                justify-content: center;
                overflow: hidden;
            }
            &-move-right{
                position: absolute;
                right: 0;
                z-index: 29;
                background-color: rgba(0, 0, 0, 0.5);
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    cursor: pointer;
                    .main-section-gallery-slider-viewer-move-right-svg{
                        fill: black;
                    }
                }
                &-svg{
                    transform: rotate(-90deg);
                    fill: rgb(255, 255, 255);
                }
            }
        }
    }
}

.translate-r {
    transform: translateX(80.1vw);
    transition: 0.3s all;
}

.translate-l {
    transform: translateX(-80.1vw);
    transition: 0.3s all;
}

.translate {
    transform: translateX(0px);
    transition: 0.3s all;
}

.targets {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.target{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    filter: opacity(100%);
    border: solid 1px black;
}

.active{
    background-color: black;
}

@for $iterator from 1 through 4 {
    .slide-#{$iterator} {
        position: absolute;
        max-width: 80vw;
        max-height: 80vw;
        user-select: none
    }
}

@media (min-width: 768px) {
    
    .translate-r {
        transform: translateX(50vw);
        transition: 0.3s all;
    }
    
    .translate-l {
        transform: translateX(-50vw);
        transition: 0.3s all;
    }

    .main-section-gallery-slider-viewer-move-left {
        position: relative;
    }
    
    .main-section-gallery-slider-viewer-move-right {
        position: relative;
    }
    
    .main-section-gallery-slider-viewer-slides {
        position: relative;
        display: flex;
        width: 50vw;
        height: 50vw;
    }

    @for $iterator from 1 through 4 {
        .slide-#{$iterator} {
            max-width: 50vw;
            max-height: 50vw;
        }
    }    
}