@use 'sass:math';

@mixin create-flexbox($justify, $align, $direction) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}

@function pixeles-rem($pixeles) {
    $rem: math.div($pixeles, 16) * 1rem;
    @return $rem;
}

